.player-card {
  width: 450px;
  color: white;
  user-select: none;
  margin: auto;
  margin-top: 0;
}

.player-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.9);
  width: 100%;
  border-radius: 20px;
  margin-bottom: 4px;
  padding: 3px;
}

.player-nickname {
  width: 95%;
}

.player-nick {
  width: 95%;
  border: none;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.player-nick:focus {
  outline: none;
}

.player-perks {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.perk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perk-count {
  width: 40px;
  margin: 5px 0px;
}

.perk-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.perk-button {
  width: 20px;
  height: 20px;
  background-color: rgb(184, 180, 180);
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.player-skills-can-use {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent !important;
  gap: 4px;
}

.skill-use {
  width: 450px;
  margin-bottom: 3px;
}
.div-skill-use {
  background-color: rgba(45, 40, 40, 0.8);
  width: 100%;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.skill-can-use {
  width: 223px;
}

.button-skill {
  background-color: rgba(45, 40, 40, 0.8);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-skill:hover {
  background-color: rgba(131, 133, 135, 0.9);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
