.player-card {
  width: 500px;
  color: white;
  user-select: none;
  margin: auto;
  margin-top: 0;
}

.player-setting {
  display: flex;
  gap: 2px;
  margin-bottom: 4px;
}

.player-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.9);
  width: 100%;
  border-radius: 20px;
  padding: 3px;
}

.player-nickname {
  width: 95%;
}

.player-nick {
  width: 95%;
  border: none;
  padding: 0;
  font-size: 20px;
  text-align: center;
  background-color: rgb(182, 179, 179);
  color: black;
}

.player-nick:focus {
  outline: none;
}

.player-perks {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.perk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perk-count {
  width: 40px;
  margin: 5px 0px;
}

.perk-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.perk-button {
  width: 20px;
  height: 20px;
  background-color: rgb(184, 180, 180);
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}


.player-classes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}

.class {  
  width: 20px;
  height: 20px;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.defender-class {
  background-color: rgb(139, 199, 134);
}

.berserk-class {
  background-color: rgb(199, 147, 134);
}

.dodge-class {
  background-color: rgb(199, 198, 134);
}

.cd-class {
  background-color: rgb(138, 84, 54);
}

.choosen {
  border: 1.5px solid rgb(194, 255, 242);
  width: 17px;
  height: 17px;
}

.player-attack-zones {
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}

.attack-zone {
  background-color: rgba(56, 58, 57, 0.4);
}

.player-skills-can-use {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent !important;
  gap: 4px;
}

.skill-use {
  width: 450px;
  margin-bottom: 3px;
}

.div-skill-use {
  background-color: rgba(45, 40, 40, 0.8);
  width: 100%;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.skill-can-use {
  width: 248px;
}

.button-skill {
  background-color: rgba(45, 40, 40, 0.8);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-skill:hover {
  background-color: rgba(131, 133, 135, 0.9);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}