#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  all: unset;
}

.logo {
  height: 100px;
  position: fixed;
  top: 30px;
  left: 30px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #f5c982aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.input-div {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text-input {
  min-height: 150px;
  min-width: 400px;
}

.text-input:focus {
  outline: none;
}

.button-set-text {
  all: unset;
  background-color: green;
  cursor: pointer;
  padding: 10px;
}
